VITE_STRIPE_PUBLIC_KEY=pk_live_51TXg47HU1AxqRSaJZ5Btv3S7cw6JWk1np8AkqIKJC5yuyIdYqium68kdyu6baNSmZqA5DtfkAvby3naYJJSxkXmD00d8XPnmCC
VITE_STRIPE_PRICE_PRO_MONTHLY=price_1TXgQPHU1AxqRSaJNNSYsxDc
VITE_STRIPE_PRICE_PREMIUM_MONTHLY=price_replace_me
VITE_STRIPE_PRICE_PRO_ANNUAL=price_replace_me
VITE_STRIPE_PRICE_PREMIUM_ANNUAL=price_replace_me
